<%= maglev_section.wrapper_tag.div class: 'relative isolate px-6 pt-14 lg:px-8' do %>
  <style>
    :root {
      --slick-hero-01-gradient-first-color: <%= maglev_section.settings.gradient_first_color.to_s.presence || '#ff80b5' %>;
      --slick-hero-01-gradient-second-color: <%= maglev_section.settings.gradient_second_color.to_s.presence || '#9089fc' %>;
    }
  </style>

  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[color:var(--slick-hero-01-gradient-first-color)] to-[color:var(--slick-hero-01-gradient-second-color)] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-2xl py-28 sm:py-44 lg:py-52">
    <div class="text-center">
      <%= maglev_section.setting_tag :title, html_tag: 'h1', class: 'text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl' %>

      <%= maglev_section.setting_tag :sub_title, html_tag: 'div', class: 'mt-6 text-lg leading-8 text-gray-600 prose' %>
      
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <%= maglev_section.setting_tag :primary_link, class: 'rounded-md bg-[--slick-primary-color] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[--slick-primary-hover-color] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[--slick-primary-color]' %>
        <%= maglev_section.setting_tag :secondary_link, class: 'text-sm font-semibold leading-6 text-gray-900' %>
      </div>
    </div>
  </div>
  <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[color:var(--slick-hero-01-gradient-first-color)] to-[color:var(--slick-hero-01-gradient-second-color)] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
<% end %>