<% content_for :title do %>Register<% end %>
<% content_for :tagline do %>
  An account is required to create your first site!
  <br/>
  <%= link_to "Already have an account?", new_session_path, class: "font-semibold text-gray-800 hover:text-gray-700" %>
<% end %>

<%= form_with(model: @user, class: "space-y-6") do |form| %>
  <%= render_ncuikit_form :email_field, form: form, attribute: :email %>

  <%= render_ncuikit_form :password_field, form: form, attribute: :password %>

  <%= render_ncuikit_form :password_field, form: form, attribute: :password_confirmation %>  

  <div>
    <%= render_ncuikit_button :primary_submit, label: 'Sign up', full_width: true %>
  </div>
<% end %>