<%= render_ncuikit :menu_dropdown, orientation: 'right', content_class: 'w-48', arrow: true do |c| %>
  <% c.with_label do %>
    <%= render_ncuikit :avatar, url: current_user.avatar, full_name: nil, size: 'sm' %>
  <% end %>

  <% c.with_menu_header do %>
    <p class="text-sm">Signed in as</p>
    <p class="truncate text-sm font-medium text-gray-900">
      <%= current_user.email %>
    </p>
  <% end %>

  <% c.menu_item do %>
    <%= link_to 'Edit profile', edit_current_user_path, class: c.menu_item_css %>
  <% end %>

  <% c.menu_separator %>

  <% c.menu_item do %>
    <%= button_to 'Sign out', session_path, method: :delete, class: c.menu_item_css %>
  <% end %>
<% end %>