<%= maglev_section.wrapper_tag.header class: 'absolute inset-x-0 top-0 z-50', data: { controller: 'navbar' } do %>
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to maglev_site_link, class: '-m-1.5 p-1.5' do %>
        <span class="sr-only"><%= maglev_site.name %></span>
        <%= maglev_section.setting_tag :logo, class: 'h-8 w-auto' %>
      <% end %>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" data-action="click->navbar#open">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <% maglev_section.blocks.each do |maglev_block| %>
        <%= maglev_block.wrapper_tag.div do %>
          <%= maglev_block.setting_tag :link, class: 'text-sm font-semibold leading-6 text-gray-900' %>
        <% end %>
      <% end %>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <%= maglev_section.setting_tag :main_link, class: 'text-sm font-semibold leading-6 text-gray-900' %>
    </div>
  </nav>

  <div class="hidden" role="dialog" aria-modal="true" data-navbar-target="modal">
    <div class="fixed inset-0 z-50"></div>
    <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <%= link_to maglev_site_link, class: '-m-1.5 p-1.5' do %>
          <span class="sr-only"><%= maglev_site.name %></span>
          <%= maglev_section.setting_tag :logo, class: 'h-8 w-auto' %>
        <% end %>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" data-action="click->navbar#close">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <% maglev_section.blocks.each do |maglev_block| %>
              <%= maglev_block.wrapper_tag.div class: '-mx-3 block rounded-lg px-3 py-2 hover:bg-gray-50' do %>
                <%= maglev_block.setting_tag :link, class: 'text-base font-semibold leading-7 text-gray-900' %>
              <% end %>
            <% end %>
          </div>
          <div class="py-6">
            <%= maglev_section.setting_tag :main_link, class: '-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>