<% domain_hint = capture do %>
  Update the DNS records of your main domain to point it to <code><%= Rails.application.config.x.dns_domain_address %></code> <small>(A RECORD)</small> or <code><%= Rails.application.config.x.dns_domain_alias %></code> <small>(CNAME)</small>.
<% end.html_safe %>

<div class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-6">
  <div class="sm:col-span-3">
    <%= render_ncuikit_form :text_field, form: form, attribute: :name %>
  </div>

  <div class="sm:col-span-6">
    <%= render_ncuikit_form :text_field, form: form, attribute: :domain, options: { hint: domain_hint } %>
  </div>

  <div class="sm:col-span-6">
    <%= render_ncuikit_form :card_radio_buttons, form: form, attribute: :theme_id, options: { grids: 2 } do |c| %>
      <% @themes.each do |theme| %>
        <% c.with_button(value: theme.id) do %>
          <div class="block text-sm font-medium text-gray-900"><%= theme.name %></div>
          <div class="text-gray-500 prose text-sm mt-4"><%= render_markdown theme.description %></div>
        <% end %>
      <% end %>
    <% end unless form.object.persisted? %>
  </div>
</div>